*, *:before, *:after{
	box-sizing: inherit;
}

h1{
	font-family: 'Georgia', 'Times New Roman', serif;
}

p{
	font-family: 'Open sans', sans-serif;
}
#header{
	background-image: url('../img/slide.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.header{
	background-image: url('../img/slide.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 35vh;
}

.encabezado{
	margin-bottom: 2rem;
	margin-top: 0;
	border: 2px solid silver;
}

.procesos{
	border-bottom: 2px solid green;
}

.procesos li{
	background-color: rgba(1, 1, 1, .3);
}

.procesos li a:hover{
	transition: all .5s ease-in-out;
	background-color: rgba(1, 1, 1, .5);
}